.mainadd{
    width: 100%;
}
.add1{
    float: left;
    margin-left: 3%;
}
.add2{
    float: left;
    margin-left: 3%;
    
}
.add3{
    float: left;
    margin-left: 3%;
}
.add4{
    float: left;
    margin-left: 3%;
}
.add5{
    float: left;
    margin-left: 3%;
}