        <body>
            
        <!-- <div id="uldiv"> -->
            <div >
        <!-- <ul id="rout"> -->



<!--  -->


                       
        <div class="row">
            <div class="col-md-6">
        <h1 id="adm" style="margin-left:20px; font-size:22px;color:black">Welcome To <span style="text-transform:uppercase;color:orange; ">Admin</span> Dashboard !!</h1>
        </div>
        </div>
        <!-- </ul>   -->
        <router-outlet>    
        </router-outlet>
        
        </div> 
        <br><br>
        </body>




