
<div class="container">
  <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-center" style="border: 1px solid red;box-shadow: 0px 0px 10px;"> 
             <form><br>
               <h2 id="otphed"> Email Id And OTP</h2><br>
               <input type="text" class="form-control deco" [(ngModel)]="email" name="oottpp1" placeholder="Enter Email"><br>
                <input type="text" class="form-control deco" [(ngModel)]="otp" name="oottpp" pattern="[0-9]*" maxlength="4" placeholder="Enter OTP"><br> 
                <input type="button" class="btn btn-warning form-control otpbtn" value="Submit OTP" (click)="funNew()"><br><br>
             </form>
        </div>
        <div class="col-md-4">
                 
          </div>
  </div>
</div>