<!-- <div class="container">
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
      
      <h1>
    {{str}}
 </h1>
 <ul>
   <li *ngFor="let product_info of data;let ii=index">

     <span><img src="../../assets/uploads/{{product_info.images}}" width="60px"></span>
     {{product_info.pname  }}
     {{product_info.pprice | currency: "INR" }}
     <button class="btn btn-danger" (click)="remove_cart_item(ii)" style="margin-left: 40px;float: right;" >Remove Item</button>
   </li>
 </ul><br>
 <span *ngIf="data.length>0" class="text-center" style="margin-left: 60px;">
   <input type="button" value="Order Now" class="btn btn-success text-center" (click)="fun_order_now()" style="width: 200px;height: 50px;font-size: 20px;"> 
 </span>

     </div>
     <div class="col-md-2"></div>
   </div>
</div>
 -->
<div class="container">
  <div class="row" *ngFor="let product_info of data;let ind=index">
    <div class="col-md-3" >
        <span><img src="../../assets/uploads/{{product_info.images}}" width="150px" height="130px;" style="float: right;box-shadow: 0px 0px 7px black;border-radius: 4px;  border: 1px solid silver"></span>
    </div>
    <div class="col">
       <span style="text-transform: uppercase;font-weight: bold;font-size: 20px;">{{product_info.pname  }}</span><br>
       <span [ngStyle]="{backgroundColor:product_info.pcolor,color:product_info.pcolor}">. . . . . .</span><br>
         <span style="color: rgb(96, 199, 96);font-weight: bold"> {{product_info.pprice | currency: "INR" }}<br></span>
       <span style="color: crimson;">{{product_info.pdesc  }}</span><br>
       <br>
       <!--increment decrement -->
       <form>
        <div class="value-button" id="decrease" (click)="decreaseValue(ind)" ><img src="/assets/-.png" width="30px"></div>
        <input type="number" id="number"  value="1" name="qty"   readonly [(ngModel)]="product_info.selqty  ">
        <div class="value-button" id="increase" (click)="increaseValue(product_info.quantity,ind)" ><img src="/assets/+.png" width="20px"></div>
</form>  
        <button class="btn btn-danger" (click)="remove_cart_item(ii)" style="margin-left: 40px;float: right;" >Remove Item</button>
      
    <br>
    <br>
    </div>
    
  </div><br><br>
  <span *ngIf="data.length>0" class="text-center" style=" float: right;">
      <input type="button" value="Order Now" class="btn btn-success text-center" (click)="fun_order_now()" style="width: 200px;height: 50px;font-size: 20px;"> 
    </span>
  <br>
  <div class="ttlamt" style="width: 300px;margin-left: -10px;">
   <span style="box-shadow: 0px 0px 10px black;padding: 10px;margin-left: 90px;">
      <span style="color: rgb(106, 238, 156);font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold">Total Ammount</span>&nbsp;<span style="color: rgb(23, 192, 23);font-size: 15;font-weight: bold;"> : {{TotalAmnt | currency: "INR"}}</span>
   </span>
    </div>
  
  
</div>
  <br><br>