<!-- <div class="row">
    <div class="col-md-6">
        <form style="margin-left: 590px;" name="frm">
        From Date :
        <ng-datepicker [options]="f_option" name="d1" [(ngModel)]="fdate">
        </ng-datepicker><br>
        To date :
        <ng-datepicker [options]="l_option" name="d2" [(ngModel)]="tdate">
        </ng-datepicker><br>
        <input type="button" class="btn btn-primary" value="Find" style="border-radius: 0px;" (click)="fun_date_wise()">
        </form>
    </div>
    <input type="date" id="start" name="trip"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31" />
</div> -->
<div class="row">
    <div class="col-md-6">
        <form style="margin-left: 590px;" name="frm">
            From Date :
            <input type="date" id="FromDate" name="FromDate" class="date" [(ngModel)]="fdate" format="DD-MM-YYYY" />
            <br> To date :
            <input type="date" id="FromDate" name="FromDate" class="date" [(ngModel)]="tdate" />
            <br>
            <br>
            <input type="button" class="btn btn-primary" value="Find" style="border-radius: 0px;" (click)="fun_date_wise()">
        </form>
    </div>
</div>
<br>
<br>
<div style="margin: 15px;">
    <table class="table table-responsive" style="border: 3px solid #0C68A7;">
        <tr>
            <th>SrNo</th>
            <th>Product Id</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Order_id</th>
            <th>Order_no</th>
            <th>Order_id</th>
            <th>date_order</th>
        </tr>
        <tr *ngFor="let d of ddata;let i='index'">
            <td>{{i+1}}</td>
            <td>{{d.pid}}</td>
            <td>{{d.sale_qty}}</td>
            <td>{{d.pprice}}</td>
            <td>{{d.order_id}}</td>
            <td>{{d.order_no}}</td>
            <td>{{d.order_id}}</td>
            <td>{{d.date_order}}</td>

        </tr>
    </table>
</div>