<div style="background-color: rgb(83, 87, 92)">
  <div class="row text-center">
    <div class="col-md-4">
      <span class="heah">
        <i>Welcome  To My VAP Cart Club</i>
      </span>
    </div>
    <div class="col-md-8">
      <a href="#">
        <span class="fa fa-map-marker"></span> Shopp locator
      </a>&nbsp;&nbsp;
      <a href="#">
        <span class="fa fa-truck" aria-hidden="true"></span> Track Order</a>&nbsp; &nbsp;
      <a href="#">
        <span class="fa fa-phone"></span>+9 999 999 999</a>&nbsp;&nbsp;
      <a href="#">
        <span class="fa fa-photo"></span> Gallery</a> &nbsp;&nbsp;
      <a href="#">
        <span class="fa fa-thumbs-o-up"></span> Like Us</a>&nbsp;&nbsp;
    </div>
  </div>
</div>