
<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">      
    </div>
    <div class="col-md-4 text-center" style="box-shadow:0px 0px  16px rgb(8, 0, 0);border-radius:6px ;background-color: rgb(226, 223, 231)">
           <form style="padding: 15px;margin: 20px;">
             <h2 style="color: rgb(42, 204, 126)"><i>Admin LogIn</i></h2>
             <input type="text" placeholder="email id" [(ngModel)]="email" name="n1" class="form-control"><br>
             <input type="password" placeholder="password" [(ngModel)]="password" name="n2" class="form-control"><br>
             <input type="button" value="LogIn" class="form-control btn btn-warning" (click)="funadmLog()"><br><br>
           </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
